<h1 class="instructions">You have 6 minutes to unlock...</h1>
<div class="lock2">
	<div class="row"><h1>Time</h1>
		<h2>Date</h2>
		<p>O O O O O O O O O O</p>
	</div>
	<div class="row"></div>
	<div class="row">
		<button type="submit" ng-click="dial(1)">1</button>
		<button type="submit" ng-click="dial(2)">2</button>
		<button type="submit" ng-click="dial(3)">3</button>
	</div>

	<div class="row">
		<button type="submit" ng-click="dial(4)">4</button>
		<button type="submit" ng-click="dial(5)">5</button>
		<button type="submit" ng-click="dial(6)">6</button>
	</div>

	<div class="row">
		<button type="submit" ng-click="dial(7)">7</button>
		<button type="submit" ng-click="dial(8)">8</button>
		<button type="submit" ng-click="dial(9)">9</button>
	</div>

	<div class="row">
		<button type="submit" ng-click="dial(0)">0</button>
	</div>

</div>