<h1 class="instructions">You have 50 minutes to unlock...</h1>

<form class="drei">
	<h2>56 - 49 = <input type="text" ng-model="alpha" /></h2></br>
	<h2>3 * 3 = <input type="text" ng-model="bravo" /></h2></br>
	<h2>17 - 9 = <input type="text" ng-model="charlie" /></h2></br>
	<h2>Polar bears live in a tank at the <input type="text" ng-model="delta" />oo.</h2></br>
	<h2>An <input type="text" ng-model="echo" />-ray takes a picture of your bones.</h2></br>
	<h2>A dog will chase a <input type="text" ng-model="foxtrot" />at</h2></br>
</form>
<div class="thirdRight">
	<h2>{{ alpha }} {{ bravo }} {{ charlie }} {{ delta }} {{ echo }} {{ foxtrot }}</h2>
	<div class="lock3">
		<h2>1 6 2 7 3 8 4 9 5 0 X Z Y C</h2>
	</div>
</div>